.body {
  font-family: 'Acme', sans-serif;
  font-size: 18px;
}

.btn {
  border: none;
  border-radius: 3px;
  background-color: #b3b3b3;
  cursor: pointer;
}

.difficult-level-section {
  width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.difficult-level-section__btn {
  width: 200px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.game {
  display: none;
  height: 450px;
  width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.game__time {
  height: 5%;
  width: 95%;
  text-align: right;
}
.game__heading {
  text-align: center;
}

.state-bars {
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.state-bars__row {
  width: 90%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.state-bars__bar {
  width: 70%;
  height: 50%;
}

.buttons {
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.buttons__btn {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  height: 70%;
}
.buttons__btn_size_m {
  font-size: 16px;
  text-transform: uppercase;
}

.lose-section {
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(10, 10, 10, 0.85);
}
.lose-section__container {
  min-width: 70vw;
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.lose-section__main-text {
  font-size: 70px;
  color: red;
  margin-bottom: 10px;
}
.lose-section__general-text {
  font-size: 24px;
  margin: 10px;
  color: red;
}
.lose-section__btn {
  min-width: 210px;
  margin: 10px;
  min-height: 50px;
  background-color: red;
}

/*
        tryNew.addEventListener('click', () => {
          loseSection.style.display = 'none';

          if (this.tamagochi instanceof TamagochiFluffyKitty){
            kitty.click();
          } else if (this.tamagochi instanceof TamagochiLazyPug) {
            pug.click();
          } else {
            ninja.click();
          }
        });

        tryAgain.addEventListener('click', () => location.reload());
        console.log("dead interval dead--------------------------")

*/
