.game {
  display: none;
  height: 450px;
  width: 700px;
  @include center();
  flex-direction: column;
  justify-content: space-around;

  &__time {
    height: 5%;
    width: 95%;
    text-align: right;
  }
  &__heading {
    text-align: center;
  }
}

.state-bars {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  &__row {
    width: 90%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  &__bar {
    width: 70%;
    height: 50%;
  }
}

.buttons {
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  &__btn {
    flex-basis: 20%;
    height: 70%;
    
    &_size_m {
      font-size: 16px;
      text-transform: uppercase;
    }
  }
}